@import "../../colors.scss";

* {
  box-sizing: border-box;
}

@import url("https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
.fa {
  font-family: fontawesome !important;
  color: $white;
  font-size: 25px !important;
}

.footer_container {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

.footer_container:before {
  content: attr(data-before);
  text-transform: uppercase;
  opacity: 0.05;
  right: 0;
  top: -49px;
  font-size: 84px;
  position: absolute;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.footer_container:after {
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  content: attr(data-after);
  text-transform: uppercase;
  opacity: 0.05;
  line-height: 62px;
  left: 160px;
  bottom: 0;
  font-size: 84px;
  position: absolute;
}

footer {
  font-family: 'Montserrat', sans-serif;
  height: 500px;
  color: $white;
  display: flex;

  justify-content: center;
  background-image: linear-gradient($footer-gradient-first 9%, $footer-gradient-second 10%, $footer-gradient-second 18%, $footer-gradient-third 19%, $footer-gradient-third 27%, $footer-gradient-four 28%, $footer-gradient-four 36%, $footer-gradient-five 37%, $footer-gradient-five 45%, $footer-gradient-six 46%, $footer-gradient-six 54%, $footer-gradient-seven 55%, $footer-gradient-seven 63%, $footer-gradient-eight 64%, $footer-gradient-eight 72%, $footer-gradient-nine 73%, $footer-gradient-nine 81%, $footer-gradient-ten 82%, $footer-gradient-ten 90%, $footer-gradient-eleven 91%, $footer-gradient-eleven 100%);
}

.main_title_footer {
  font-weight: 700;
  font-size: 42px;
  text-align: center;
  margin: 0 0 65px 0;
}

.footer_title_block {
  font-size: 18px;
  margin: 0 0 30px 0;
}

.footer_button {
  width: 240px;
  height: 40px;
  text-transform: uppercase;
  background-color: $footer-button;
  border: none;
  margin-bottom: 30px;
}

.socia {
  display: flex;
  justify-content: center;
}

.footer_link {
  margin: 0 10px;
}

@media(min-width: 320px) and (max-width: 479px) {
  footer {
    padding: 30px 0;
    height: auto;
    overflow: hidden;
    text-align: center;
  }
  .footer_container {
    overflow: visible;
  }
  .footer_container::before {
    content: "";
  }
  .footer_container::after {
    bottom: -28px;
    font-size: 47px;
    line-height: 35px;

  }

  .main_title_footer {
    font-size: 32px;
    margin-bottom: 35px;
  }
}

@media(min-width: 480px) and (max-width: 767px) {
  footer {
    padding: 30px 0;
    height: auto;
    overflow: hidden;
    text-align: center;
  }
  .footer_container {
    overflow: visible;
  }
  .footer_container::before {
    content: "";
  }
  .footer_container::after {
    bottom: -28px;
    font-size: 47px;
    line-height: 35px;

  }

  .main_title_footer {
    font-size: 32px;

  }
}

@media (min-width: 1920px) {
  .main_title_footer {
    font-size: 58px;
  }
  .footer_title_block {
    font-size: 27px;
  }
  .footer_button {
    width: 280px;
    height: 55px;
    font-size: 16px;
  }
  .fa {
    font-size: 36px !important;
  }
  footer {
    overflow: hidden;
  }
  .footer_container::before {
    content: "oh what";
    text-transform: uppercase;
    opacity: 0.05;
    right: -284px;
    top: -84px;
    font-size: 167px;
    position: absolute;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
  }
  .footer_container::after {
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    content: "охват";
    text-transform: uppercase;
    opacity: 0.05;
    line-height: 126px;
    left: 0px;
    bottom: -1px;
    font-size: 167px;
    position: absolute;
  }
  .footer_container {
    overflow: visible;
  }
}