$white: white;
$black: black;
$grey: grey;
$light-black: #171717;
$light-grey: #DBDBDB;
$dark-grey: #9d9d9d;
$grey-background: #F4F4F4;
$grey-text: #7A7A7A;
$footer-gradient-first: #1B1B1B;
$footer-gradient-second: #1A1A1A;
$footer-gradient-third: #191919;
$footer-gradient-four: #181818;
$footer-gradient-five: #171717;
$footer-gradient-six: #161616;
$footer-gradient-seven: #151515;
$footer-gradient-eight: #141414;
$footer-gradient-nine: #131313;
$footer-gradient-ten: #121212;
$footer-gradient-eleven: #111111;
$footer-button: #E1E1E1;
$shadow: rgba(9, 9, 9, 0.07);
$works-button: #E1E1E1;
$process-content: #F0F0F0;
$services-item: rgb(244, 244, 244);
