* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 1280px;
    margin: 0 auto;
    position: relative;
    z-index: 6;
}

section {
    min-height: 600px;
}

section .container > span {
    z-index: 4;
    font-family: 'Montserrat', sans-serif;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    display: inline-block;
    position: absolute;
    top: 0;
    left: -97%;
    z-index: 999;
    right: 0;
    margin: auto;
    bottom: 0;
    text-align: center;
    width: 541px;
    height: 15px;
    font-size: 12px;
}

button {
    cursor: pointer;
}

.feedback {
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 53px;
}

.feedback_button {
    height: 30px;
    border: none;
    display: flex;
    background-color: transparent;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}

.burger_button {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 13px;
    background-color: transparent;
    border: none;
}

.burger_button span {
    width: 25px;
    height: 1px;
    background-color: black;
    display: block;
}

@media (min-width: 320px) and (max-width: 479px) {
    .container {
        width: 100%;
        height: auto;
        padding: 0 30px;
    }

    section {
        overflow: hidden;
    }

    section .container > span {
        top: 303px;
        left: calc(30px - 100%);
        margin: 0 auto;
        width: 541px;
        height: 30px;
        font-size: 11px;
        line-height: 30px;

    }

    .feedback {
        padding-right: 0;
    }

    .hamburger_content {
        padding-top: 85px;
        padding-left: 0;
    }

    .hamburger_block {
        width: 100%;
    }

    .close {
        right: 40px;
    }

    .hamburger_content ul {
        padding: 0;
    }

    .menu_item {
        font-size: 25px;
        line-height: 40px;
    }

    .call {
        width: 90%;
        padding: 20px;
    }

    .call_block {
        height: 100vh;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 100%;
        height: auto;
        padding: 0 40px;
    }

    .hamburger_content {
        padding-top: 85px;
        padding-left: 0;
    }

    .hamburger_block {
        width: 100%;
    }

    .close {
        right: 40px;
    }

    .hamburger_content ul {
        padding: 0;
    }

    .menu_item {
        font-size: 25px;
        line-height: 40px;
    }

    section {
        overflow: hidden;
    }

    section .container > span {
        top: 303px;
        left: calc(40px - 100%);
        margin: 0 auto;
        width: 541px;
        height: 40px;
        font-size: 10px;
        line-height: 40px;

    }

    .feedback {
        padding-right: 0;
    }

    .call {
        width: 65%;
        padding: 20px;
        height: 280px;
    }

    .call_block {
        height: 100vh;
    }

    .form_title {
        margin-top: 20px;
    }

    input[type="submit"] {
        margin-top: 15px;
    }

    section.windows {
        min-height: 100vh;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    section.windows {
        min-height: 100vh;
    }

    .hamburger_content {
        padding-top: 85px;
        padding-left: 100px;
    }

    .call_block {
        height: 100vh !important;
    }

    .hamburger_block {
        width: 100%;
    }

    .close {
        right: 40px;
    }

    .hamburger_content ul {
        padding: 0;
    }

    .menu_item {
        font-size: 25px;
        line-height: 40px;
    }

    .container {
        width: 750px;
        height: auto;
        padding: 0 30px;
    }

    section {
        overflow: hidden;
        height: auto;
    }

    section .container > span {
        top: 303px;
        left: calc(30px - 100%);
        margin: 0 auto;
        width: 541px;
        height: 30px;
        font-size: 12px;
        line-height: 30px;

    }

    .call {
        width: 65%;
        padding: 20px;
        height: 280px;
    }

    .call_block {
        height: 100vh;
    }

    .form_title {
        margin-top: 20px;
    }

    input[type="submit"] {
        margin-top: 15px;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .container {
        width: 1024px;
        height: auto;
        padding: 0 30px;
    }

    .call_block {
        height: 100vh;
    }

    section {
        overflow: hidden;
    }

    section .container > span {
        top: 303px;
        left: calc(30px - 100%);
        margin: 0 auto;
        width: 541px;
        height: 30px;
        font-size: 12px;
        line-height: 30px;

    }

    .close {
        right: 40px;
    }
}

@media (min-width: 1920px) {
    .container {
        width: 1890px;
    }

    section .container > span {
        font-size: 16px;
    }

    .feedback_button {
        font-size: 16px;
        margin-right: 45px;
    }
}